.hero__container
{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.hero__img
{
    display:flex;
    object-fit: cover;
    width: 100%;
    position: absolute;
    height: 100%;
    transition: 0.4s all ease-in-out;
}
.hero__img:hover
{
    
        filter: blur(2px);
        scale: 1.1;
    
}


.mySwiper

{
    width: 98%;
    height: 96%;
    border-radius: 25px;
    
}
.h3
{
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    transition: 0.4s all ease-in-out;
    position: absolute;
    color: rgb(97, 97, 97);
  

}

